[
{sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
    {errlog_type, error},
    {error_logger_mf_dir, "log/sasl"},      % Log directory
    {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
    {error_logger_mf_maxfiles, 5}           % 5 files max
]},
{erlagi, [
    {listen, [
        {addressName1, [
            {host, "127.0.0.1"},
            {port, 20000},
            {backlog, 5},
            {callback, erlagi_demo}, % A module that implements new_call/1
            {logfile, "/tmp/erlagi-addressName1.log"}
        ]},
        {addressName2, [
            {host, "localhost"},
            {port, 30000},
            {backlog, 5},
            {callback, erlagi_demo}, % A module that implements new_call/1
            {logfile, "/tmp/erlagi-addressName2.log"}
        ]}
    ]}
]}
].

